language: python
python:
  - 2.7

cache:
  pip: true
  directories:
    - buildout-cache/downloads
    - buildout-cache/eggs

install:
  - pip install -r requirements.txt
  - bin/buildout -Nc travis.cfg

script:
  - bin/test

notifications:
  email:
    - travis-reports@ecreall.com
    - devs@imio.be
