  include .coveragerc
  include *.py
  include *.rst
  include .travis.yml
  recursive-include docs *.GPL
  recursive-include src *.js
  recursive-include docs *.rst
  recursive-include src *.gitignore
  recursive-include src *.gitkeep
  recursive-include src *.po
  recursive-include src *.pot
  recursive-include src *.sh
  recursive-include src *.txt
  recursive-include src *.xml
  recursive-include src *.zcml
  exclude *.cfg
