.td_cell_SelectedInPlonegroupColumn.bool_value_false {
    color: red;
    font-weight: bold;
}
th.th_header_SelectedInPlonegroupColumn {
   width: 200px;
}

th.th_header_PloneGroupUsersGroupsColumn {
    width: 500px;
}

span.pg_group_no_users {
    font-style: italic;
}
span.pg_group_no_users,
span.pg_group_users {
    display: block;
    margin-bottom: 0.5em;
}

/* make icon and text display nicely when text on 2 lines,
   several rules necessary so it works when both Manager and non Manager */
span.pg_group_users a,
span.pg_group_users acronym,
span.pg_group_users img {
   float: left;
}
div.user-or-group {
   padding-top: 2px;
   padding-left: 20px;
   height: auto;
   min-height: 20px;
   color: #4A494F;
}

.user-or-group-level-2,
.user-or-group-level-3 {
   margin-left: 1em;
}
.user-or-group-level-4,
.user-or-group-level-5 {
   margin-left: 2em;
}
.user-or-group-level-6,
.user-or-group-level-7 {
   margin-left: 3em;
}
.user-or-group-level-8,
.user-or-group-level-9 {
   margin-left: 4em;
}
.user-or-group-level-10,
.user-or-group-level-11 {
   margin-left: 5em;
}

/* define width/height for img so it behaves correctly with collective.js.tooltipster */
div#content span.pg_group_users img {
   width: 16px;
   height: 16px;
}

td.td_cell_PloneGroupUsersGroupsColumn h5 {
   line-height: 1em;
}

.template-contact-plonegroup-settings #form-widgets-functions label[for*='fct_management'],
.template-contact-plonegroup-settings #form-widgets-functions label[for*='enabled'] {
    display: none;
}

/* avoid too long groups_management list of checkboxes in configuration */
.template-contact-plonegroup-settings span#form-widgets-groups_management {
    max-height: 500px;
    display: block;
    overflow-x: auto;
    max-width: 500px;
}

/* manage-own-groups-users view related */

.template-manage-own-groups-users table.datagridwidget-table-view :not(.auto-append):not(.new-row).datagridwidget-row select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
}

.template-manage-own-groups-users span.cross_icon {
    color: indianred;
}

.template-manage-own-groups-users table.datagridwidget-table-view .new-row.datagridwidget-row {
    background-color: burlywood;
}

.template-manage-own-groups-users span.new_line {
    color: burlywood;
}

.template-manage-own-groups-users table.datagridwidget-table-view .auto-append.datagridwidget-row {
    background-color: cadetblue;
}

.template-manage-own-groups-users span.auto_append {
    color: cadetblue;
}

.template-manage-own-groups-users table.datagridwidget-table-view {
    width: min-content;
}

.template-manage-own-groups-users #edit-bar {
    display: none;
}

.template-manage-own-groups-users .field {
    margin-top: 2em;
}

.template-manage-own-groups-users .datagridwidget-cell {
    padding: 1px 5px 1px 10px;
}
