.td_cell_SelectedInPlonegroupColumn.bool_value_false {
    color: red;
    font-weight: bold;
}

th.th_header_PloneGroupUsersGroupsColumn {
    width: 250px;
}

span.no_users {
    font-style: italic;
}
span.no_users,
span.users {
    display: block;
    margin-bottom: 0.5em;
}

/* define width/height for img so it behaves correctly with collective.js.tooltipster */
div#content span.pg_group_users img {
   width: 16px;
   height: 16px;
}
