.td_cell_SelectedInPlonegroupColumn.bool_value_false {
    color: red;
    font-weight: bold;
}

th.th_header_SelectedInPlonegroupColumn {
   width: 200px;
}

th.th_header_PloneGroupUsersGroupsColumn {
    width: 500px;
}

span.pg_group_no_users {
    font-style: italic;
}
span.pg_group_no_users,
span.pg_group_users {
    display: block;
    margin-bottom: 0.5em;
}

/* define width/height for img so it behaves correctly with collective.js.tooltipster */
div#content span.pg_group_users img {
   width: 16px;
   height: 16px;
}

div#group-users h5 {
   line-height: 1em;
}