.td_cell_SelectedInPlonegroupColumn.bool_value_false {
    color: red;
    font-weight: bold;
}
th.th_header_PloneGroupUsersGroupsColumn {
    width: 250px;
}

.template-contact-plonegroup-settings #form-widgets-functions td.cell-4 label {
    display: none;
}

.template-manage-own-groups-users table.datagridwidget-table-view :not(.auto-append):not(.new-row).datagridwidget-row select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
}

.template-manage-own-groups-users span.cross_icon {
    color: indianred;
}

.template-manage-own-groups-users table.datagridwidget-table-view .new-row.datagridwidget-row {
    background-color: burlywood;
}

.template-manage-own-groups-users span.new_line {
    color: burlywood;
}

.template-manage-own-groups-users table.datagridwidget-table-view .auto-append.datagridwidget-row {
    background-color: cadetblue;
}

.template-manage-own-groups-users span.auto_append {
    color: cadetblue;
}

.template-manage-own-groups-users table.datagridwidget-table-view {
    width: min-content;
}

.template-manage-own-groups-users #edit-bar {
    display: none;
}

.template-manage-own-groups-users .field {
    margin-top: 2em;
}
.template-manage-own-groups-users .datagridwidget-cell {
    padding: 1px 5px 1px 10px;
