# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Push tests
# run-name: ${{ github.actor }} push tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: 2.7.18
            plone: 4.3
#          - python: 3.10.11
#            plone: "6.0"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up pyenv and Python
        uses: "gabrielfalcao/pyenv-action@v14"
        with:
          default: "${{ matrix.python }}"
      - name: Setup Env
        run: |
          pip install --upgrade pip
          pip install -r requirements-${{ matrix.plone }}.txt
      - name: Cache eggs
        uses: actions/cache@v3
        env:
          cache-name: cache-eggs
        with:
          path: ~/buildout-cache/eggs
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ matrix.plone }}
          restore-keys: ${{ runner.os }}-test-${{ env.cache-name }}-${{ matrix.plone }}
      - name: buildout
        run: |
          sed -ie "s#test.cfg#test-${{matrix.plone}}.cfg#" gha.cfg
          buildout -c gha.cfg annotate
          buildout -c gha.cfg
      - name: test
        run: |
          bin/test -t !robot
  coverage:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up pyenv and Python
        uses: "gabrielfalcao/pyenv-action@v18"
        with:
          default: 2.7.18
          versions: 3.13.1
          command: pyenv -v
      - name: Setup Env
        run: |
          pip install --upgrade pip
          pip install -r requirements-4.3.txt coverage==5.3.1
      - name: Cache eggs
        uses: actions/cache@v3
        env:
          cache-name: cache-eggs
        with:
          path: ~/buildout-cache/eggs
          key: ${{ runner.os }}-coverage-${{ env.cache-name }}
          restore-keys: ${{ runner.os }}-coverage-${{ env.cache-name }}
      - name: buildout
        run: |
          sed -ie "s#test.cfg#test-4.3.cfg#" gha.cfg
          buildout -c gha.cfg
#      - name: code-analysis
#        run: |
#          bin/code-analysis
      - name: test coverage
        run: |
          bin/coverage run bin/test -t !robot
      - name: Set up Python 3.13.1
        uses: actions/setup-python@v5
        with:
          python-version: 3.13.1
      - name: Install Coveralls
        run: |
          pip3 install -U pip setuptools --no-cache-dir
          pip3 install -U coveralls coverage --no-cache-dir
      - name: Publish to Coveralls
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          coveralls --service=github-actions
